body{
    margin: 0px;
}
.bg_black{
    background-color: black; 
}
.bg_orange{
    background-color: orange;
}
.bg_red{
    background-color: red;
}
.bg_green{
    background-color:green;    
}
.bg_blue{
    background-color: blue;
}

.h25{
    height: 25%;
}
.h50{
    height: 50%;
}
.h1000{
    height: 800px;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
}
.fl{
   display: flex;    
}
.box_s{
    box-sizing: border-box;
    width: 25%;
}